<html>
<head>
    <title>Search Database with Filters</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Search">
    </form>

<br><br>

{% if results %}
<h1>Viewing aggregate information for search</h1>
<table>
  <thead>
  <th style="text-align: left;"><u>Statistic</u></th>
  <th style="text-align: left;"><u>Value</u></th>
  </thead>
  <!-- <tr><td>Name</td><td>Value</td></tr> -->
  <tbody>
  {% for result in results %}
    <tr>
    <td><span style="font-weight:bold">{{result.0}}</span></td>
    <td>{{result.1}}</td>
    </tr> <!-- if result.0 is one of a few results, add km^2. bext way? third item in list if result.0 add km2? idk-->
  {% endfor %}
  </tbody>
</table>

{% else %}
  {{ error_message }}
{% endif %}









</body>
</html>
