
<!-- test stuff- can use later when dealing with a query set and not one object
but for now we just wanna have a viewer view for the purpose of viewing info about one object
<p>

{{ waterBody }}

</p>


{{ displayFields }}
<table>
    <thead>
        {% for field in displayFields %}
            <th>{{ field.label }}</th>
        {% endfor %}
    </thead>
    <tbody>
        <tr>
            {% for field in displayFields %}
                <td>{{ field.value|default_if_none:'' }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>


{% for field in displayFields %}
    <p>{{field.name}}, {{ field.value }}<br></p>
{% endfor %}
-->



<html>
<head>

</head>

<body>
<h1>Viewing water body with ID = {{ waterBody.id }} </h1>
{% if waterBody.lakeName %}
<h2>Name: {{ waterBody.lakeName }} </h2>
{% endif %}

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBrEjsTOsGQBZe6jC0m5JC-Th03zq0QxMU&v=3"></script>
<div id="map_div" style="height: 500px; width: 800px;"></div>
<script type="text/javascript">

/* 
 * declare map as a global variable, create geojson feature by wrapping geojson 
 */ 
var map; 
var gjson;
var gjson = { "type": "Feature",
            "geometry": {{ waterBody.poly.geojson|safe }}
            } 
 /* 
  * use google maps api built-in mechanism to attach dom events 
  */
 google.maps.event.addDomListener(window, "load", function () { 

  /* 
   * create map 
   */ 
  var map = new google.maps.Map  (document.getElementById("map_div"), { 
   center: new google.maps.LatLng({{  waterBody.centerLat}}, {{ waterBody.centerLon }}), 
   zoom: 7, 
   mapTypeId: google.maps.MapTypeId.HYBRID 
  }); 
  map.data.addGeoJson(gjson);
});
</script>

<br>
<h2>---------------------------------------------------------------------------------<br>Object attributes:</h2>
<br>
<table style="width:63%">
   <thead>
      <th style="text-align: left;"><u>Field Name</u></th>
      <th style="text-align: left;"><u>Description</u></th>
      <th style="text-align: left;"><u>Value</u></th>
   </thead>
   <tbody>
      {% for field in displayFields %}
      {% ifnotequal field.name "poly" %}
      <tr> 
        <td><span style="font-weight:bold">{{ field.name }}</span></td>
        <td><i>{{ field.label }}</i></td>
        <td>{{ field.value }}</td>
      </tr>
      {% endifnotequal %}
      {% endfor %}
   </tbody>
</table>



</body>
</html>
