<html>
<head>

</head>

<body>
<h1>Viewing water body with ID = {{ waterBody.id }} </h1>
{% if waterBody.lakeName %}
<h2>Name: {{ waterBody.lakeName }} </h2>
{% endif %}

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBrEjsTOsGQBZe6jC0m5JC-Th03zq0QxMU&v=3"></script>
<div id="map_div" style="height: 500px; width: 800px;"></div>
<script type="text/javascript">

/* 
 * declare map as a global variable, create geojson feature by wrapping geojson 
 */ 
var map; 
var gjson;
var gjson = { "type": "Feature",
            "geometry": {{ waterBody.poly.geojson|safe }}
            } 
/* Get zoom based on lake size */
if ({{ waterBody.areaMax }} < 20) {
    zoomSize = 10;
} else if (({{ waterBody.areaMax }} >= 20) && ({{ waterBody.areaMax }} < 870)) {
    zoomSize = 9;
} else if (({{ waterBody.areaMax }} >= 870) && ({{ waterBody.areaMax }} < 9000)) {
    zoomSize = 8;
} else if (({{ waterBody.areaMax }} >= 9000) && ({{ waterBody.areaMax }} < 57815)) {
    zoomSize = 7;
} else if (({{ waterBody.areaMax }} >= 57815) && ({{ waterBody.areaMax }} < 83000)) {
    zoomSize = 6;
} else {
    zoomSize = 5;
}

/* If type is river or resevoir, zoom way out
* This only works if typeGlwd is provided
*/
{% if waterBody.typeGlwd %}
if (("{{ waterBody.typeGlwd }}" == "River") || ("{{ waterBody.typeGlwd }}" == "Resevoir")) {
    zoomSize = 4;
}
{% endif %}

 /* 
  * use google maps api built-in mechanism to attach dom events 
  */
 google.maps.event.addDomListener(window, "load", function () { 

  /* 
   * create map 
   */ 
  var map = new google.maps.Map  (document.getElementById("map_div"), { 
   center: new google.maps.LatLng({{  waterBody.centerLat}}, {{ waterBody.centerLon }}), 
   zoom: zoomSize, 
   mapTypeId: google.maps.MapTypeId.HYBRID 
  }); 
  map.data.addGeoJson(gjson);
});
</script>

<br>
<h2>---------------------------------------------------------------------------------<br>Object attributes:</h2>
<br>
<table style="width:63%">
   <thead>
      <th style="text-align: left;"><u>Field Name</u></th>
      <th style="text-align: left;"><u>Description</u></th>
      <th style="text-align: left;"><u>Value</u></th>
   </thead>
   <tbody>
      {% for field in displayFields %}
      {% ifnotequal field.name "poly" %}
      <tr> 
        <td><span style="font-weight:bold">{{ field.name }}</span></td>
        <td><i>{{ field.label }}</i></td>
        <td>{{ field.value }}</td>
      </tr>
      {% endifnotequal %}
      {% endfor %}
   </tbody>
</table>



</body>
</html>
